# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# VSCode
.vscode/
.history/

# PyQt/Qt
*.qrc.*
*.qt.py

# OS files
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# Misc
*.bak
*.swp
*.tmp
*.orig